@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #2d033b;
  --clr-2: #810ca8;
  --clr-3: #c147e9;
  --clr-4: #e26ee5;
  --clr-5: #e5b8f4;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-1);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  width: 75vw;
  height: 60vh;
  aspect-ratio: 1 / 1.5;
  background-color: #2d033b;
  border-radius: 0.4rem;
  position: relative;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 4s linear infinite;
}

.card::after {
  filter: blur(1.8rem);
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Protest Riot", "Protest Strike", sans-serif;
  font-size: 34px;
  letter-spacing: 1px;
  color: #f8e5ff;
  text-shadow: 4px 3px 0px #810ca8, 9px 8px 0px rgba(0, 0, 0, 0.15);
  margin-top: 54px;
}

.card-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0.8);
}

svg {
  animation: heart 4s linear infinite;
}

@keyframes heart {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
